<h1>Customer Info</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!customers"><em>Loading...</em></p>

<table class='table table-striped' *ngIf="customers">
  <thead>
    <tr>
      <th>Customer ID</th>
      <th>Name</th>
      <th>Address</th>
      <th>Business</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="customer in customers">
      <td>{{ customer.id }}</td>
      <td>{{ customer.name }}</td>
      <td>{{ customer.address }}</td>
      <td>{{ customer.business }}</td>
    </tr>
  </tbody>
</table>


