<h1>Customer Info</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!customers"><em>Loading...</em></p>

<kendo-grid [kendoGridBinding]="customers"
            [sortable]="true"
            [filterable]="true">

  <kendo-grid-column field="id" title="Customer ID"></kendo-grid-column>

  <kendo-grid-column field="name" title="Customer Name"></kendo-grid-column>

  <kendo-grid-column field="address" title="Address"></kendo-grid-column>

  <kendo-grid-column field="business" title="Business"></kendo-grid-column>

</kendo-grid>
